@import url("colors.css");
* {
  all: unset;
  font-family: Cohere Mono;
  transition: 0.3s;
  font-size: 1.2rem;
}

.floating-notifications.background .notification-row {
  padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: @base00;
  color: @base05;
  border: 1px solid @base03;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @base08;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @base05;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: @base04;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @base05;
  background-color: @base01;
  border: 1px solid @base03;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @base02;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @base03;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @base05;
  background-color: @base08;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @base00;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @base0A;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: @base00;
  color: @base05;
  padding: 1rem;
  border: 1px solid @base03;
}

.control-center .widget-title {
  color: @base0A;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @base05;
  background-color: @base01;
  border: 1px solid @base03;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @base02;
}

.control-center .widget-title button:active {
  background-color: @base03;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: @base01;
  color: @base05;
  border: 1px solid @base03;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @base08;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @base05;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @base05;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: @base04;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @base05;
  background-color: @base01;
  border: 1px solid @base03;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @base02;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @base03;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @base05;
  background-color: @base08;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @base00;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @base0A;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: @base08;
}

.notification.low progress,
.notification.normal progress {
  background-color: @base0D;
}

trough {
  background-color: @base01;
}

.control-center trough {
  background-color: @base03;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: @base02;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: @base04;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @base02;
  border: 1px solid @base03;
}

.widget-dnd > switch:checked slider {
  background: @base0C;
}

.widget-dnd > switch slider {
  background: @base03;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
