$primary: #ffabeb;
$onPrimary: #5d0055;
$primaryContainer: #840077;
$onPrimaryContainer: #ffd7f2;
$secondary: #dcbed0;
$onSecondary: #3e2a38;
$secondaryContainer: #56404f;
$onSecondaryContainer: #f9daed;
$tertiary: #f5b9a3;
$onTertiary: #4b2617;
$tertiaryContainer: #653c2c;
$onTertiaryContainer: #ffdbcd;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1f1a1d;
$onBackground: #e9e0e3;
$surface: #1f1a1d;
$onSurface: #e9e0e3;
$surfaceVariant: #4e444a;
$onSurfaceVariant: #d2c2ca;
$outline: #9a8d94;
$shadow: #000000;
$inverseSurface: #e9e0e3;
$inverseOnSurface: #342f32;
$inversePrimary: #a81897;
